* {
    margin: 0;
    padding: 0;
    font-family: Georgia;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2;
}

.wt {
    color: #ffffff;
    position: absolute;
    background-color: #81D8D0;
    padding: 40px 80px;
}

.title {
    color: #000000;
    text-align: center;
}

.photo {
    position: absolute;
}

.button_w {
    color: #ffffff;
    text-align: center;
    display: block;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 12px;
}

.button_b {
    color: #000000;
    text-align: center;
    display: block;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 12px;
    width: 200px;
}

.banner {
    margin: auto;
    position: relative;
}

.bannertitle {
    color: #ffffff;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 342px;
    left: 120px;
}

.bannerbackgroundcolorblock {
    background-color: #81D8D0;
    height: 720px;
    margin: auto;
}

.bannercharacter {
    right: 340px;    
}

.banneraccessories {
    top: 288px;
    right: 74px;
}

.news {
    height: 819px; /* 800 */
    margin: 88px auto 0;
    position: relative;
    overflow: hidden;
    /* background: antiquewhite; */
}

.newsphoto_1 {
    top: 128px;
    left: 60px;
}

.newsphoto_2 {
    top: 128px;
    right: 60px;
}

.newsphoto_3 {
    top: 368px;
    right: 420px;
}

.newscontent {
    top: 595px;
    right: 112px;
}

.activity {
    height: 1040px;
    margin: 120px auto 0;
    position: relative;
    overflow: hidden;
    /* background: antiquewhite; */
}

.activityphoto_1 {
    top: 240px;
}

.activitycontent {
    top: 723px;
    left: 125px;
}

.activityphoto_2 {
    top: 160px;
    right: 0;
}

.product {
    height: 617px; /* 576 */
    margin: 120px auto 0;
    position: relative;
    overflow: hidden;
    /* background: antiquewhite; */
}

.carousel {
    position: relative;
    margin-top: 60px; 
}

.card-img-top {
    width: 304px;
    position: relative;
    left: 16px;
}

.card-body {
    position: relative;
    top: -36px;
}

.card-title {
    color: #ffffff;
    text-align: center;
    background-color: #81D8D0;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 144px;
    display: block;
}

.card-text {
    width: 288px;
    position: relative;
    left: 1.5rem;
}

.carousel-control-prev {
    justify-content: flex-start;
}
.carousel-control-next {
    justify-content: flex-end;
}

.map {
    height: 538px;
    margin: 120px auto 0;
    position: relative;
    overflow: hidden;
    /* background: antiquewhite; */
}

.map .row {
    margin-top: 60px;
}

.mapcontent {
    width: 200px;
    margin: 0 5%;
}

.mapbtn {
    color: #000000;
    text-align: center;
    display: block;
    margin: 8rem 0 0 0;
    padding: 12px;
    width: 200px;
}

.footer {
    background-color: #81D8D0;
    height: 372px;
    margin: 80px auto 0;
    position: relative;
    overflow: hidden;
}

.footerwt {
    color: #ffffff;
    background-color: #81D8D0;
    margin: 0.5rem 0;
    padding: 0;
}

.footerbottom {
    color: #ffffff;
    text-align: center;
    margin: 2rem;
}